{{> head }}



{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Node Js</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, vero repellendus. Laborum nesciunt ullam
            deleniti iste nulla consequatur repellat numquam animi molestias itaque similique doloribus, dicta quas,
            vel enim cupiditate.
        </p>

    </div>
    <div class="col-4">
        <img src="assets/img/nodejs.png" class="img-thumbnail">

    </div>
</div>

{{> footer }}